*.pyc
VENV/
*.bak
Untitled.ipynb
.ipynb_checkpoints/main-checkpoint.py
.ipynb_checkpoints/Statistics_read-checkpoint.py
.ipynb_checkpoints/
*.vsidx
*.lock
*.sqlite
*.json
venv2/
.vs/
output.csv
stats.log
